html, body {
	height: 100%;
	margin: 0px;
	width: 100%;
	font-family: Lato, sans-serif;
}

body {
	background-color: rgba(99, 102, 106, .05);
	/*overflow-y: hidden;*/
}

/*each section is for the bottom 3 charts*/
.section {
	width: 30.7vw;
	height: 22vw;
	float: left;
}

/* top right 4 squares total area*/
#full {
	/*don't touch*/
	height: 24.75vw;
	width: 41.6vw;
	float: left;
	/*don't touch. this is for the top right section size/positioning overall*/
	margin-left: 1vw; 
	margin-top: 1vw;
	/*margin-right: 1vw;*/
}

/*progress chart*/
.progressSection {
	/*don't touch*/
	/*width: 54%;*/
	width: 53vw;
	height: 25.65vw;
	/*height: 44.5%;*/
	/*min-height: 330px;*/
	float: left;
	/*margin-right: 1vw;*/
	
}

/*technically the bottom section*/
#middle {
	/* so that the bottom section is on it's own line*/
	clear: both;
}

/*for each of the 4 boxes*/
.currentYear {
	float: left;
	width: 47%;
	height: 47.7%;
	padding: 1%;
	background-color: #ffffff;
	border-radius: .25vw;

	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
}

/*positioning styling for 4 boxes*/
#topLeft { 
	margin-bottom: .8vw;
	margin-right: .8vw;
}

#bottomRight {
	margin-left: .8vw;
}

#bottom {
	clear: both;
}

#top .currentYear, #bottom .currentYear {
	float: left;
	/*min-height: 150px;
	max-height: 200px;*/
}
/* styling for each box, border and padding */
.section, .progressSection {
	/* maybe just change back to padding*/
	padding-top: .4vw;
	padding-right: .4vw;
	padding-left: .4vw;
	margin-left: 1vw;
	margin-top: 1vw;
	background-color: #ffffff;
	border-radius: .25vw;

	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
}


h1 {
	font-size: 1.25vw;
	margin-top: .5vw;
	margin-left: .5vw;
	margin-bottom: 0px;
	font-family: "Open Sans Condensed", sans-serif;
}

h2 {
	font-size: 1vw;
	color: #63666A;
	margin-left: .5vw;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Lato, sans-serif;
	font-weight: normal;
	
}

h3 {
	font-size: 12px;
	margin: 1px;
	font-family: "Open Sans Condensed", sans-serif;
}

.axis text, text {
    font-family: Lato, sans-serif;
}

#full p {
	text-align: center;
	font-size: 2vw;
	margin-top: 1vw;
	margin-bottom: 0px;
}


.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}


div.tooltip {	
    position: absolute;			
    text-align: center;			
    				
    padding: .3vw;				
    font: Lato, sans-serif;		
    font-size: .8vw;
    color: white;
    background: #63666A;	
    border: .1vw solid white;		
    border-radius: .25vw;			
    pointer-events: none;
    z-index: 100;	
    display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}