html, body {
	height: 100%;
	margin: 0px;
	width: 100%;
	font-family: Lato, sans-serif;
}

body {
	background-color: rgba(99, 102, 106, .05);
}

h1 {
	font-size: 1.25vw;
	margin-top: .5vw;
	margin-left: .5vw;
	margin-bottom: 0px;
	font-family: "Open Sans Condensed", sans-serif;
}

h2 {
	font-size: .9vw;
	color: #63666A;
	margin-left: .5vw;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Lato, sans-serif;
	font-weight: normal;
	
}

/*technically the bottom section*/
#middle {
	/* so that the bottom section is on it's own line*/
	clear: both;
}

.section, .progressSection {
	padding-top: .4vw;
	padding-right: .4vw;
	padding-left: .4vw;
	margin-left: 1vw;
	margin-top: 1vw;
	background-color: #ffffff;
	border-radius: .25vw;

	box-shadow: 0 0 .5vw #ccc;
}

.progressSection {
	width: 53vw;
	height: 22.65vw;
	float: left;
	
}

.section {
	width: 30.7vw;
	height: 19vw;
	float: left;
}

.axis text, text {
    font-family: Lato, sans-serif;
}

.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 45%; 
	vertical-align: middle; 
	overflow: hidden; 
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    				
    padding: .3vw;				
    font: Lato, sans-serif;		
    font-size: .8vw;
    color: white;
    background: #63666A;	
    border: .1vw solid white;		
    border-radius: .25vw;			
    pointer-events: none;
    z-index: 100;	
    display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}