body {
    margin: 0px;
    height:100px;
}

#btnMap {
    position: absolute;
    bottom: 5px;
    left: 255px;
}

#btnDashboard {
    position: absolute;
    bottom: 5px;
    left: 150px;
}

#divHeader {
    background-image: url("../Images/vzheader.jpg");
    background-size: 2000px 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#headerTitle {
    color: white;
    font-family: sans-serif;
    margin-left: 25px;
}