body {
    margin: 0px;
}

#btnMap {
    position: absolute;
    bottom: 0px;
    right: 25px;
}

#btnDashboard {
    position: absolute;
    bottom: 0px;
    right: 71px;
}

#divHeader {
    background-image: url("../Images/seattle2.jpg");
    background-position: 15% 35%;
    background-size: 1920px 1076px;
    height: 100px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#headerTitle {
    color: white;
    font-family: sans-serif;
    margin-left: 25px;
}
