/*.header {
    height: 12%;
    background-color: #188FD1;
}

img {
    height: 100%;
}

#btnDashboard, #btnMap {
    position: absolute;
    left: 10%;
    width: 7%;
}

#btnMap {
    top: 6.5%;
}

#btnDashboard {
    top: 1.5%;
}

#header-icons {
    float: right;
}

button {
    color: #3f3f3f;
    height: 4%;
    font-family: Lato, sans-serif;    
    background-color: #fff;
    padding-bottom: .5%;
    padding-top: .5%;
    padding-left: .77%;
    padding-right: .77%;
    margin-bottom: 0;
    font-size: 1vw;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #a8a8a8;
    border-radius: 4px;
}

button:hover {
    background-color: #dbdbdb;
    color: #2a2a2a;
}

button:active {
  background-color: #7e7e7e;
}*/