html, body {
	height: 100%;
	margin: 0px;
	width: 100%;
}

#header {
	height: 150px;
	width: 100%;
}

#mapid {
	bottom: 0px;
	position: absolute;
    top: 100px;
    width: 100%; 
} 

.leaflet-popup {
    z-index: 100000;
}

#search {
    position: absolute;
    z-index: 3;
    top: 120px;
    right: 25px;
}

#filters {
    position: absolute;
    z-index: 2;
    top: 170px;
    right: 25px;
}

#filters div {
    float: left;
    width: 40px;
    height: 40px;
    background-color: white;
    margin-left: 15px;
    border: 1px black solid;
}